.d-block {
    display: block !important;
}
.d-inline-block {
    display: inline-block !important;
}
.d-none {
    display: none !important;
}
.d-opacity {
    z-index: -1 !important;
    opacity: 0 !important;
}


/* Notice Style */
#p-notice {
              position: fixed;
                   top: 50%;
                  left: 0;
               z-index: 12010;
            margin-top: -30px;
               padding: 5px;
                 width: 100%;
           line-height: 20px;
               opacity: 1;
                 color: rgb(230, 230, 230);
            text-align: center;
            transition: all .25s ease-in;
        -ms-transition: all .25s ease-in;
       -moz-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
}


/* Loading Style */
#p-loading {
              position: fixed;
                   top: 50%;
                  left: 0;
               z-index: 12010;
            margin-top: -40px;
               padding: 5px 2px 19px;
                 width: 100%;
           line-height: 16px;
               opacity: 1;
                 color: rgb(210, 210, 210);
            text-align: center;
            background: url(../images/common/loading.gif) no-repeat center bottom;
            transition: all .25s ease-in;
        -ms-transition: all .25s ease-in;
       -moz-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
}


/* Mask Style */
#p-mask {
              position: fixed;
                   top: 0;
                  left: 0;
               z-index: 12000;
               display: block;
                 width: 100%;
                height: 100%;
               opacity: 1;
      background-color: rgba(0, 0, 0, 0.75);
            transition: all .25s ease-in;
        -ms-transition: all .25s ease-in;
       -moz-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
}