@charset "UTF-8";

/****文字編輯器****/
.c-edit {
    display: block;
    width: 100%;
    color: var(--textColor);
}

.c-edit a {
    color: #0000ff;
    text-decoration: underline;
    text-underline-offset: 6px;
    transition: opacity .4s ease-in-out;
}

.c-edit a:hover {
    opacity: .7;
}

.c-edit img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    height: auto !important;
}

/****原生列表 start****/
.c-edit ul,
.c-edit ol {
    margin: 0 0 0 1.5em;
}

.c-edit ul {
    list-style-type: disc;
}

.c-edit ul li>ul {
    list-style-type: circle;
}

.c-edit ul li>ul li>ul,
.c-edit ul li>ul li>ul ul {
    list-style-type: square;
}

.c-edit ol {
    list-style-type: decimal;
}

/****原生列表 end****/

/****非原生列表 start****/
/* .c-edit ul,
.c-edit ol {
    padding: 0 0 0 20px;
    margin: 20px 0;
}

.c-edit ul li,
.c-edit ol li {
    display: list-item;
    width: 100%;
    margin: 0 0 5px 0;
}

.c-edit ul li:last-child,
.c-edit ol li:last-child {
    margin: 0;
}

.c-edit ul {
    list-style-type: disc;
}

.c-edit ol {
    list-style-type: decimal
} */
/****非原生列表 end****/
.c-edit__iframe {
    display: block;
    width: 100%;
    padding: 56.25% 0 0 0;
}

.c-edit__youtube {
    display: inline-block;
    width: 100%;
    padding: 56.25% 0 0 0;
}

.c-edit iframe:not([src^="https://www.instagram.com"]) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.c-edit iframe[src^="https://www.instagram.com"] {
    max-width: 540px;
}

.c-edit__table {
    width: 100%;
    padding: 0 0 5px 0;
    overflow-x: auto;
}

.c-edit__table::-webkit-scrollbar {
    height: 4px;
    background: #ddd;
}

.c-edit__table::-webkit-scrollbar-thumb {
    background: var(--mainColor);
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {

    .c-edit {}
}


/****非觸控螢幕****/
@media (any-hover: hover) {}

/****觸控螢幕****/
@media (any-hover: none) {}

/****IOS樣式****/
@supports (-webkit-touch-callout: none) {}


/****firefox樣式****/
@-moz-document url-prefix() {
    .c-edit__table {
        scrollbar-width: thin;
        scrollbar-color: var(--mainColor) #ddd;
    }
}