@charset "UTF-8";

/****header****/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: flex-start;
    width: calc(100% - 120px);
    max-width: 1720px;
    margin: 0 auto;
}

/****logo****/
.logo {
    display: block;
    width: 90px;
    margin: 0 20px 0 0;
    transition: opacity .4s ease-in-out;
    flex: 0 0 auto;
}

.logo:hover {
    opacity: .7;
}

/****主選單背景****/
.mainMenuBg {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease-in-out;
    visibility: hidden;
}

/****主選單****/
.mainMenu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    overscroll-behavior: none;
    transition: transform .4s ease-in-out;
    overflow: hidden;
    /* overflow-y: auto; */
    flex: 0 1 auto;
}

.mainMenu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.mainMenu::-webkit-scrollbar-thumb {
    background: var(--mainColor);
}

/****主選單切換鈕****/
.navbt {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    flex: 0 0 auto;
    z-index: 100;
}

/****主選單展開樣式****/
#mainmenuCheck:checked~.mainMenuBg {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

#mainmenuCheck:checked~ {}

/****向下滾動樣式****/
header.active {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}

/****非觸控螢幕****/
@media (any-hover: hover) {}

/****觸控螢幕****/
@media (any-hover: none) {}

/****IOS樣式****/
@supports (-webkit-touch-callout: none) {}

/****firefox樣式****/
@-moz-document url-prefix() {}