@charset "UTF-8";

/**頁碼**/
.c-page {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.c-page__count {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    flex: 0 1 auto;
}

.c-page__count a {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 1;
    color: #3f3f3f;
    transition: color .4s ease-in-out, background-color .4s ease-in-out;
    overflow: hidden;
}

.c-page__count a.hide {
    display: none;
}

.c-page__count a:hover,
.c-page__count a.active {
    color: #fff;
    background: #111;
}

.c-page__prev,
.c-page__next {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: flex-start;
    width: auto;
    max-width: 100%;
    margin: 0 0 0 30px;
    font-size: 16px;
    color: #3f3f3f;
    transition: opacity .4s ease-in-out;
    flex: 0 0 auto;
}

.c-page__prev {
    margin: 0 30px 0 0;
}

.c-page__prev:hover,
.c-page__next:hover {
    opacity: .7;
}

/**頁碼箭頭**/
.c-page__prev::before,
.c-page__next::after {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 30px;
    margin: 0 0 0 15px;
    background: url(../../images/common/icon_arrow_next_thin_black.svg) center no-repeat;
    background-size: contain;
}

.c-page__prev::before {
    margin: 0 15px 0 0;
    transform: scaleX(-1);
}

.c-page__prev.disable,
.c-page__next.disable {
    opacity: .4;
    pointer-events: none;
}

/**頁碼內文頁樣式**/
.c-page-detail {
    justify-content: space-between;
}

.c-page-detail .c-page__count {
    display: none;
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}



/****非觸控螢幕****/
@media (any-hover: hover) {}

/****觸控螢幕****/
@media (any-hover: none) {}

/****IOS樣式****/
@supports (-webkit-touch-callout: none) {}

/****firefox樣式****/
@-moz-document url-prefix() {}