@charset "UTF-8";

:root {
    --mainColor: #a40000;
    --textColor: #2e2e2e;
    --screenHeight: 100vh;
    --textAlign: justify;
}

html[lang="en-US"]:root {
    --textAlign: left;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    -webkit-tap-highlight-color: transparent;
}

*:not(svg):not(text):not(tspan) {
    letter-spacing: .05em;
}

*,
::after,
::before {
    box-sizing: inherit
}

html,
body {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'NotoSansTC', 'Microsoft JhengHei', 'PingFang', sans-serif;
    overflow: hidden;
}

ul,
ol {
    margin: 0;
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

b,
strong {
    font-weight: 700;
    letter-spacing: inherit;
}

i,
em {
    font-style: italic;
    letter-spacing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 14px;
    line-height: 1;
}

img.c-img-load {
    background: url(../../images/common/ajax-loader.gif) center no-repeat;
    background-size: 25px 25px;
}

video {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus-visible {
    outline: none;
}

label {
    -webkit-tap-highlight-color: transparent;
}

fieldset {
    border: none;
}

iframe {
    width: 100%;
    border: none;
}

select:focus,
input:focus,
textarea:focus,
button:focus {
    outline: none;
}

/**IOS樣式去除**/
select,
input,
textarea {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    padding: 5px 65px 5px 15px;
    border: 1px solid #d7d7d7;
    background: url(../../images/common/icon_arrow_bottom.svg) right 20px/10px auto center no-repeat;
}

select,
input {
    height: 60px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-o-clear {
    display: none;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    flex: 0 0 auto;
}

input[type="checkbox"]:checked {
    background: url(../../images/common/icon_check_white.svg) center no-repeat var(--mainColor);
    background-size: 60% auto;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:checked {
    background: radial-gradient(ellipse at center, #fff calc(40% - .5px), var(--mainColor) calc(40% + .5px)) var(--mainColor);
    background-size: 100% 100%;
}

/**去除自動填充樣式**/
input:-webkit-autofill,
textarea:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fff inset;
    -webkit-text-fill-color: var(--textColor);
}

textarea {
    min-height: 250px;
    resize: none;
}

/**IE箭頭去除**/
select::-ms-expand {
    display: none;
}

/****卷軸樣式****/
html::-webkit-scrollbar,
body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: #ddd;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background: var(--mainColor);
}

/****循環動畫節流****/
[data-animated-infinite="1"],
[data-animated-infinite="true"] {
    animation-play-state: paused !important;
}

[data-animated-infinite="1"].play,
[data-animated-infinite="true"].play {
    animation-play-state: running !important;
}

/****共用列表****/
.c-ol,
.c-ul {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    color: var(--textColor);
}

.c-ol {
    counter-reset: number;
}

.c-ol>li,
.c-ul>li {
    display: block;
    width: 100%;
}

.c-ol>li a,
.c-ul>li a {
    transition: opacity .4s ease-in-out;
}

.c-ol>li a:hover,
.c-ul>li a:hover {
    opacity: .7;
}

.c-ol>li {
    counter-increment: number;
}

.c-ol>li::before {
    content: counter(number, decimal)'.';
}

.c-ul>li {
    padding: 0 0 0 calc(1em + 5px);
}

.c-ul>li::before {
    content: '';
    position: absolute;
    top: calc(.9em - 1.5px);
    left: calc(.5em - 1.5px);
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--textColor);
    overflow: hidden;
}

/****共用choose容器****/
.c-chooseBox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.c-choose {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    justify-content: flex-start;
    width: auto;
    max-width: 100%;
    margin: 0 10px 10px 0;
    font-size: 16px;
    line-height: 1.5;
    color: var(--textColor);
    cursor: pointer;
}

.c-choose.hide {
    display: none;
}

.c-choose:last-child {
    margin: 0 0 10px 0;
}

.c-choose input[type="checkbox"],
.c-choose input[type="radio"] {
    top: calc(.75em - 10px);
    margin: 0 10px 0 0;
}

.c-choose__text {
    display: block;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    flex: 0 1 auto;
}

/****wow****/
.wow {
    opacity: 0;
    animation: 1s .4s ease-in-out forwards;
    visibility: hidden;
}

/****錨點****/
.c-anchor {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/****共用樣式****/
.c-toggleBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    max-width: 0;
    max-height: 0;
    padding: 0;
    border: none;
    background: none;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

.c-inlineBlock {
    display: inline-block;
}

.c-youtube {
    display: block;
    width: 100%;
    padding: 56.25% 0 0 0;
}

.c-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.c-recaptcha {
    display: block;
    width: 304px;
    overflow: hidden;
    flex: 0 0 auto;
}

/****查無資料****/
.c-nodata {
    display: none;
    width: 100%;
    padding: 100px 0;
    font-size: 24px;
    line-height: 1.5;
    color: var(--titleColor);
    font-weight: 700;
    text-align: center;
}

.c-nodata.noList,
.c-nodata:first-child:last-child {
    display: block;
}

/****檔案上傳****/
.c-file {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.c-file__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: space-between;
    width: auto;
    max-width: 100%;
    flex: 0 0 auto;
}

.c-file__title__text {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 15px 0 0;
    flex: 0 1 auto;
}

/**必填**/
.c-file.required .c-file__title__text {
    padding: 0 20px 0 0;
}

.c-file.required .c-file__title__text::after {
    content: '*';
    position: absolute;
    top: calc(50% - .4em);
    right: 0;
    display: block;
    width: auto;
    max-width: 100%;
    font-size: 20px;
    color: var(--mainColor);
}

/**提示文字**/
.c-file__title__hint {
    display: none;
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 1.7;
    color: #fe0000;
    flex: 0 1 auto;
}

.c-file__item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex: 0 1 auto;
}

.c-file.hasfile .c-file__item {
    display: none;
}

.c-file__item__input {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    padding: 15px 30px;
    font-size: 15px;
    line-height: 1;
    color: var(--titleColor);
    background: #f5f5f5;
    overflow: hidden;
    flex: 0 1 auto;
}

.c-file.hasfile .c-file__item__input::after {
    content: attr(data-file);
}

.c-file__item__input input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: 10;
}

.c-file__del {
    display: none;
    width: 40px;
    height: 40px;
    margin: 0 0 0 20px;
    font-size: 15px;
    line-height: 1.7;
    color: #fff;
    font-family: 'NotoSansTC-M';
    border-radius: 50%;
    background: var(--mainColor);
    transition: opacity .4s ease-in-out;
    flex: 0 0 auto;
    overflow: hidden;
}

.c-file.hasfile .c-file__del {
    display: block;
}

.c-file__del::before,
.c-file__del::after {
    content: '';
    position: absolute;
    top: calc(50% - .5px);
    left: 25%;
    display: block;
    width: 50%;
    height: 1px;
    background: #fff;
    transform-origin: center;
}

.c-file__del::before {
    transform: rotate(45deg);
}

.c-file__del::after {
    transform: rotate(-45deg);
}

.c-file__del:hover {
    opacity: .7;
}

/**提示文字**/
.c-file__item__hint {
    position: absolute;
    bottom: -20px;
    left: 0;
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 1;
    color: #fe0000;
}

.c-file__item__btn {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
    margin: 0 0 0 20px;
    font-size: 15px;
    line-height: 1.7;
    color: #fff;
    font-family: 'NotoSansTC-M';
    background: #000;
    cursor: pointer;
    transition: opacity .4s ease-in-out;
    flex: 0 0 auto;
}

.c-file__item__btn:hover {
    opacity: .7;
}

.c-file.hasfile .c-file__item__btn {
    display: none;
}

.c-file__download {
    display: none;
    min-width: 180px;
}

.c-file.hasfile .c-file__download {
    display: block;
}

/****共用banner****/
.c-banner {
    display: block;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

/**背景**/
.c-banner__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.c-banner__bg img {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

/**文案**/
.c-banner__content {
    display: block;
    width: 100%;
}

/****RWD start****/
@media screen and (max-width:1199px) {}

@media screen and (max-width: 991px) {

    /****錨點****/
    .c-anchor {
        top: 0;
    }

    /****檔案上傳****/
    .c-file {
        flex-wrap: wrap;
    }

    .c-file.hasfile .c-file__item {
        width: calc(100% - 60px);
    }

    .c-file__title__text {
        display: inline-block;
        width: auto;
    }

    /****共用banner****/

}

@media screen and (max-width: 767px) {

    /****查無資料****/
    .c-nodata {
        padding: 80px 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 575px) {

    /****錨點****/
    .c-anchor {
        top: 0;
    }

    /****檔案上傳****/
    .c-file__item {
        display: block;
    }

    .c-file.c-file.hasfile .c-file__item {
        width: 100%;
    }

    .c-file__item__input {
        height: 45px;
        padding: 15px 20px;
    }

    /**提示文字**/
    .c-file__item__hint {
        display: none;
    }

    .c-file__item__btn {
        width: 100%;
        height: 45px;
        margin: 10px 0 0 0;
    }

    .c-file__title {
        width: 100%;
        margin: 0 0 5px 0;
    }

    .c-file__title__text {
        display: inline-block;
        margin: 0 0 5px 0;
    }

    .c-file.required .c-file__title__text::after {
        top: calc(50% - .5em);
    }

    .c-file__title__text br {
        display: none;
    }

    .c-file__del {
        width: 100%;
        height: 45px;
        margin: 10px 0 0 0;
        border-radius: 15px;
    }

    .c-file__del::before {
        display: none;
    }

    .c-file__del::after {
        content: '刪除';
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        background: none;
        transform: none;
    }

    /**提示文字**/
    .c-file__title__hint {
        display: block;
    }

    .c-file__download {
        width: 100%;
        min-width: 0;
    }

    /****共用banner****/
}


/****是否支援動態螢幕高****/
@supports (height: 100dvh) {
    :root {
        --screenHeight: 100dvh
    }
}

/****非觸控螢幕****/
@media (any-hover: hover) {}

/****觸控螢幕****/
@media (any-hover: none) {}

/****IOS樣式****/
@supports (-webkit-touch-callout: none) {
    input::placeholder {
        line-height: 2;
    }
}

/****firefox樣式****/
@-moz-document url-prefix() {

    html,
    body {
        scrollbar-width: thin;
        scrollbar-color: var(--mainColor) #ddd;
    }

    textarea {
        scrollbar-width: thin;
        scrollbar-color: var(--mainColor) #ddd;
    }
}